<hr>
<div [formGroup]="_formGroup">
    <label>نام دوره را وارد کنید</label><br>
    <input type="text" formControlName='title'>
    <span *ngIf="(_formGroup.controls.title.touched || _formGroup.controls.title.dirty)&& _formGroup.controls.title.invalid">این
    فیلد اجباریست
  </span>
    <br>
    <input type="date" formControlName='date'>

    <br>
    <label>
    <input type="checkbox" formControlName="check">
  </label>
    <br>
    <select formControlName='selectSth'>
    <option>
      این
    </option>
    <option>
      اون
    </option>
  </select>
    <button [disabled]="_formGroup.invalid">ثبت</button>
    <button (click)="_formGroup.reset()">Rest</button>
</div>
<hr>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>
                عنوان
            </th>
            <th>
                وضعیت
            </th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data;let i=index">
            <td>{{i}}</td>
            <td>{{item.title}}</td>
            <td>

                <!-- {{item.isActive?'فعال':'غیر فعال'}} -->
                <span *ngIf="item.isActive">فعال</span>
                <span *ngIf="!item.isActive">غیر فعال</span>
            </td>
            <td>
                <button *ngIf="item.isActive" (click)="edit(item)">Edit</button>
                <button *ngIf="!item.isActive" (click)="remove(i)">Remove</button>
            </td>
        </tr>
    </tbody>
</table>