<div [formGroup]="_formGroup">
    <div class="first-part">
        <label>عنوان را وارد نمایید</label>
        <input type="text" formControlName="questionTitle">
        <span *ngIf="(this._formGroup.controls.questionTitle.touched || this._formGroup.controls.questionTitle.dirty) && this._formGroup.controls.questionTitle.invalid">این فیلد اجباریست</span>
    </div>
    <br>
    <div class="first-checkbox">
        <label>وضعیت را مشخص کنید</label>
        <input type="checkbox" formControlName='isActive'>
        <span *ngIf="(this._formGroup.controls.isActive.touched || this._formGroup.controls.isActive.dirty)&& this._formGroup.controls.isActive.invalid">این فیلد اجباریست</span>
    </div>
    <br>
    <div class="survey-select">
        <label>آی دی مرتبط با سنجش را انتخاب کنید</label>
        <select formControlName='surveyId'>
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
        <span *ngIf="(this._formGroup.controls.surveyId.touched || this._formGroup.controls.surveyId.dirty) && this._formGroup.controls.surveyId.invalid">این فیلد اجباریست</span>
    </div>
    <br>
    <div class="subject-select">
        <label>آی دی مرتبط با موضوع را انتخاب نمایید</label>
        <select formControlName='subjectId'>
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
        <span *ngIf="(this._formGroup.controls.subjectId.touched || this._formGroup.controls.subjectId.dirty) && this._formGroup.controls.subjectId.invalid">این فیلد اجباریست</span>
    </div>
    <br>
    <div class="questionId-select">
        <label>آی دی مرتبط با نوع سوال را انتخاب نمایید</label>
        <select formControlName='questionTypeId'>
      <option>1</option>
      <option>2</option>
      <option>3</option>
    </select>
        <span *ngIf="(this._formGroup.controls.questionTypeId.touched || this._formGroup.controls.questionTypeId.dirty) && this._formGroup.controls.questionTypeId.invalid">این فیلد اجباریست</span>
    </div>
    <br>
    <div class="parameter">
        <label> فعلا هرچی دوس دارید وارد کنید تا ببینیم چی میشه</label>
        <input type="text" formControlName='questionParameters'>
        <span *ngIf="(this._formGroup.controls.questionParameters.touched ||this._formGroup.controls.questionParameters.dirty) && this._formGroup.controls.questionParameters.invalid">این فیلد اجباریست</span>
    </div>
    <br>
    <div class="priority">
        <label>عدد مورد نظر الویت خود راانتخاب کنید</label>
        <input type="number" formControlName='priority'>
        <span *ngIf="(this._formGroup.controls.priority.touched ||this._formGroup.controls.priority.dirty) && this._formGroup.controls.priority.invalid">این فیلد اجباریست</span>
    </div>
    <br>
    <div class="status">
        <label>پاسخ به این سوال الزامیست</label>
        <input type="checkbox" formControlName='isRequired'>
        <span *ngIf="(this._formGroup.controls.isRequired.touched || this._formGroup.controls.isRequired.dirty) && this._formGroup.controls.isRequired.invalid">این فیلد اجباریست</span>
    </div>
    <div>
        <button (click)="save()" [disabled]="_formGroup.invalid">ثبت</button>
        <button (click)="_formGroup.reset()">بازسازی</button>

    </div>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>
                    عنوان
                </th>
                <th>
                    وضعیت
                </th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data;let i=index">
                <td>{{i}}</td>
                <td>{{item.questionTitle}}</td>
                <td>{{item.isActive}}</td>
                <td>
                    <button *ngIf="item.isActive" (click)="edit(item)">ویرایش</button>
                    <button *ngIf="!item.isActive" (click)="remove(i)">حذف</button>

                </td>
            </tr>
        </tbody>
    </table>
</div>