//
// Grid
//

.row {
  // Paddingless row
  &.row-paddingless {
    margin-left: 0;
    margin-right: 0;

    > [class*="col"] {
      padding-left: 0;
      padding-right: 0;
    }
  }

  // Stretch row
  &.row-stretch {
    height: 100%;
  }

  // Stretch column
  .col-stretch {
    display: flex;
    align-items: stretch;
  }

  // Row divider
  &[class*="row-col-divider-"] {
    > div {
      border-bottom: 1px solid $grid-divider-bg;

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  // Responsive breakpoints
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

      &.row-col-divider#{$infix} {
        > div {
          border-bottom: 0;
          border-right: 1px solid $grid-divider-bg;

          &:last-child {
            border-right: 0;
          }
        }
      }
    }
  }
}

// Gutter helpers
.gutter-b {
  margin-bottom: $grid-gutter-width;
}

.gutter-t {
  margin-top: $grid-gutter-width;
}

// kendo grid
.k-grid {
  color: $kendo-grid-font-color;
}
kendo-grid {
  col.k-hierarchy-col {
    width: 5px !important;
}
  &.k-widget.k-grid {
    min-height: $kendo-grid-min-height;
    tr {
      background-color: rgba(0, 0, 0, 0.01);
      &.k-alt {
        background-color: rgba(0, 0, 0, 0.04);
      }
    }
    td {
      padding: 10px 12px;
    }
  }
  kendo-pager {
    kendo-pager-page-sizes.k-pager-sizes {
      select {
        border: solid #b9b7b7 1px;
        border-radius: 1px;
        color: $kendo-grid-font-color;
        background: #fcfcfc;
      }
    }
  }
}
